<main class="main-container">
  <app-card></app-card>
  <app-card gamePrice="$ 123,00" gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202406/0500/8f15268257b878597757fcc5f2c9545840867bc71fc863b1.png"></app-card>
  <app-card gamePrice="$ 75,00" gameType="PC Exclusive!" gameCover="https://cdn1.epicgames.com/spt-assets/53ec4985296b4facbe3a8d8d019afba9/pubg-battlegrounds-17zb2.png"></app-card>
  <app-card gamePrice="134,00" gameCover="https://cdn1.epicgames.com/spt-assets/91fdf8a25bef498984af2e46d106c664/skobeloff-14hxb.jpg"></app-card>
</main>
